<nav class="navbar navbar-expand navbar-primary bg-dark d-flex flex-row justify-content-between">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" routerLink="/products">Products</a>
        <a class="nav-item nav-link" routerLink="/test">Test</a>
    </div>
    <div>
        <button *ngIf="!isLoggedIn" (click)="login()" class="btn btn-warning mr-1">LogIn</button>
        <button *ngIf="isLoggedIn" (click)="logout()" class="btn btn-danger">LogOut</button>

    </div>
</nav>
